<div class="jumbotron">
  <h1 class="title">Indeed Jobs</h1>
  <br>
  <p class="slogan">Perfect jobs guarantee </p>
  <br>
  <p class="slogan">To be a winner !</p>
  <br><br>
  
  <p class="lead"><a class="btn btn-primary btn-lg" href="/jobs" role="button">Join us</a></p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2020/01/22/07/33/hot-4784635_960_720.jpg" alt="contact">
      <div class="caption">
        <h3>Contact us</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2020/01/22/17/12/nature-4785780_960_720.jpg" alt="comment">
      <div class="caption">
        <h3>User Comments</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2020/01/22/10/35/easter-egg-4785003_960_720.png" alt="partner">
      <div class="caption">
        <h3>Our Partners</h3>
        <p>...</p>
        <p><a href="/welcome/info" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>

